# Created by running Make targets
/config
/var
/vendor
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/.twig-cs-fixer.cache

# Build artefacts
/build

# Removed in earlier versions
/etc
/fifo

# Composer
*.phar

# Often manually created by developers
/simplesamlphp*
/htdocs/simplesaml
*.eap-config
.geteduroam-refresh-*
