/composer.phar
/etc/*
!/etc/*.dist.php
/fifo
/phan.phar
/php-cs-fixer-v2.phar
/php-cs-fixer-v3.phar
/phpunit-7.phar
/psalm.phar
/simplesamlphp*
/var
/vendor
/www/simplesaml
/.geteduroam-refresh-*
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
*.eap-config
