html {
	background: #f6f4f2;
	color: #212529;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
}
body:before {
	display: block;
	background-image: url('eduroam.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	content: ' ';
	width: 100%;
	height: 10vw;
	max-height: 4em;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	margin: 1em;
}
header .logout {
	font-size: .8em;
	text-align: right;
}
html main, html header {
	margin: 1em auto;
}
html main {
	max-width: 60em;
}
html header {
	max-width: 62em;
}
html.dialog main {
	max-width: 24em;
}
html.dialog header {
	max-width: 26em !important;
	margin: 1em auto !important;
}
main {
	display: block;
	border-top: solid .4em;
	border-color: #276cba;
	padding: 1em;
	background: white;
	border-radius: .3em;
	box-shadow: rgba(0,0,0,.1) 0 .1em .3em;
	min-height: 17em;
}
p {
	font-size: .95em;
}
p.text-center {
	text-align: center
}
details {
	font-size: .8rem;
}
summary, button {
	cursor: pointer;
}
hr {
	border: none;
	border-top: 1px solid;
	border-color: #f5f4f2;
	margin: 2em;
}
.btn {
	font-size: 1em;
	border: none;
	padding: 0.8em 2em;
	line-height: 1.7em;
	border-radius: .3em;
	display: inline-block;
	text-decoration: none;
}
.btn.btn-default {
	background: #337efe;
	color: white;
}
.btn.btn-default:active {
	background: #2e75eb;
}
.btn-txt {
	color: #212529;
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	text-decoration: underline;
	font-size: inherit;
}
.btn.fullwidth {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
}

body{
	display: grid;
	grid-template-columns: 1fr;
}
nav ul {
	margin: 0;
	padding: 0 .5em;
	list-style: none;
	text-align: center;
}
nav li {
	display: inline-block;
	padding: .2em 0;
	text-align: left;
}
nav li a {
	color: #206eb0;
	border-radius: .3em;
	padding: .2em .3em;
	text-decoration: none;
	transition: 0.1s ease-in-out;
	transition-property: background, border, color;
}
nav li a:hover, nav li a:focus {
	background: rgba(0,0,0,.2);
}
nav li.active a, nav li a:active {
	background: #276cba;
	border-color: #206ea0;
	color: white;
}
h1 small {
	color: #818589;
	font-size: .5em;
	display: block;
	font-weight: normal;
}
html main {
	margin: 0 auto;
}
main h1:first-child {
	margin-top: 0;
}



@media (prefers-color-scheme: dark) {
	html {
		color: #f5f4f2;
		background: #111519;
	}
	body:before {
		background-image: url('eduroam-dark.svg');
	}
	main {
		background: #212529;
		color: #f5f4f2;
		box-shadow: rgba(0,0,0,.5) 0 .1em .5em;
		border-color: #008fa7;
	}
	.btn-txt {
		color: #616569;
	}
	.btn.btn-default {
		background: #008fa7;
	}
	.btn.btn-default:active {
		background: #008098;
	}
	hr {
		border-color: #313539;
	}
	nav li.active a, nav li a:active {
		background: #007fa7;
	}
	nav li a {
		color: #b1d0de;
	}
}


@media (min-width: 800px) {
	body{
		grid-template-columns: 10em auto 10em;
		column-gap: 1.5em;
	}
	html.dialog body {
		grid-template-columns: 1fr;
		column-gap: 0;
	}
	html header {
		max-width: none;
		margin: 0 11.5em;
	}
	html header > * {
		/* 60em is max-width for main */
		/* 1em is padding for main */
		max-width: 62rem; /* 60 + 1 + 1 */
		margin-left: auto;
		margin-right: auto;
	}
	body:before{
		margin-bottom: 2em;
	}
	body:before,header{
		grid-column: 1/4;
	}
	nav li {
		display: block;
	}
	nav li a {
		display: block;
		padding: .5em 1em;
		border: 1px solid rgba(0,0,0,0);
		background: rgba(0,0,0,0);
	}
}
