html {
	background: #f6f4f2;
	color: #212529;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
}
body:before {
	display: block;
	background-image: url('eduroam.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	content: ' ';
	width: 100%;
	height: 10vw;
	max-height: 4em;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	margin: 1em;
}
header .logout {
	font-size: .8em;
	text-align: right;
}
html main, html header {
	margin: 1em auto;
	max-width: 60em;
}
html header {
	max-width: 62em;
}
html.dialog main {
	max-width: 24em;
}
html.dialog header {
	max-width: 26em;
}
main {
	display: block;
	border-top: solid .4em #276cba;
	padding: 1em;
	background: white;
	border-radius: .3em;
	box-shadow: rgba(0,0,0,.1) 0 .1em .3em;
	min-height: 17em;
}
p {
	font-size: .95em;
}
p.text-center {
	text-align: center
}
details {
	font-size: .8rem;
}
summary, button {
	cursor: pointer;
}
hr {
	border: none;
	border-top: 1px solid;
	border-color: #f5f4f2;
	margin: 2em;
}
.btn {
	font-size: 1em;
	border: none;
	padding: .7em 2em;
	border-radius: .3em;
}
.btn.btn-default {
	background: #337efe;
	color: white;
}
.btn.btn-default:active {
	background: #2e75eb;
}
.btn-txt {
	color: #212529;
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	text-decoration: underline;
	font-size: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color: #f5f4f2;
		background: #111519;
	}
	body:before {
		background-image: url('eduroam-dark.svg');
	}
	main {
		background: #212529;
		color: #f5f4f2;
		box-shadow: rgba(0,0,0,.5) 0 .1em .5em;
	}
	.btn-txt {
		color: #414549;
	}
	hr {
		border-color: #313539;
	}
}
