:root {
	--accent-color: #276cba;
	--button-danger-bg-color: #d14;
	--button-danger-active-bg-color: #b13;
}

header #product-name {
	height: 2.5em;
	background: url('eduroam.svg') left center / contain no-repeat;
	color: rgba(0,0,0,0);
}

@media (prefers-color-scheme: dark) {
	header #product-name {
		background-image: url('eduroam-dark.svg');
	}
}
