:root {
	--bg-color: #f6f4f2;
	--text-color: #212529;

	--highlight-bg-color: #fefcfa;
	--highlight-text-color: #212529;

	--code-text-color: #a05;

	--accent-color: #a61b70;
	--button-danger-bg-color: #a04;
	--button-danger-active-bg-color: #803;
	--button-text-color: #fff;
	--light-border-color: #e5e4e2;
}

html {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
}
a:active, button:active { position: relative; top: 2px; }
summary:active, #realm-picker > ul > li:has(label):active { position: relative; top: 1px; }

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	margin: 1em;
}

header {
	text-align: right;
}
header, header * {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	user-drag: none;
	-webkit-user-drag: none;
}
header * {
	text-align: left;
}
header #product-name {
	float: left;
	font-weight: bold;
	text-decoration: none;
	color: var(--text-color);
}
header details {
	display: inline-block;
}
header details > summary{
	background: none;
	border-radius: .1rem;
}
header details > * {
	background: var(--highlight-bg-color);
}
header details > summary {
	list-style: none;
	padding: .1em .6em;
}
header details > summary::-webkit-details-marker {
	display: none;
}
header details > ul {
	position: absolute;
	white-space: nowrap;
	border: thin solid rgba(128,128,128,.5);
	box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
	border-radius: .2rem;
	list-style: none;
	font-size: 1.2em;
}
header details#user-chooser > ul {
	right: 1rem;
}
header summary {
	font-size: 1.2em;
	padding: .1em;
}
header details > ul {
	margin: .1rem -.2rem;
	padding: .4rem 0;
}
header details > ul > li a, header details > ul > li strong {
	padding: .1em 1em;
	margin: 0;
	display: block;
	top: 0 !important;
	color: var(--text-color);
	text-decoration: none;
	position: relative;
}
header details > ul > li a {
	color: var(--text-color) !important;
}
header details[open] > summary,
header details > ul > li a:hover {
	background-color: var(--accent-color);
	color: var(--button-text-color) !important;
}
header details[open] > summary .oojs-icon:before,
header details > ul > li a.oojs-icon:hover:before,
header details > ul > li a:hover .oojs-icon:before {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

main > * {
	max-width: 46rem;
	margin: 1rem auto;
}
html.dialog main > * {
	max-width: 24rem;
}
html.dialog main > p.fullwidth {
	max-width: 27.3em;
}

section {
	padding: 0 .8em .4em .8em;
}
section.highlight {
	box-shadow: 0 .1em .2em rgba(0,0,0,.4);
	border-radius: .1em;
	border-left: thick solid var(--accent-color);
	background: var(--highlight-bg-color);
	color: var(--highlight-text-color);
}

pre {
	overflow-x: scroll;
}
code {
	background: rgba(0,0,0,.08);
	padding: .2em .4em;
	color: var(--code-text-color);
}
p {
	font-size: .95em;
}
p.text-center {
	text-align: center
}
p picture img {
	max-width: 100%;
}
picture.screenshot.mac img {
	filter: drop-shadow(0 .15em .15em rgba(0,0,0,.5));
}
details, form table {
	font-size: .8rem;
}
form table {
	width: 100%;
}
summary, button {
	cursor: pointer;
}
hr {
	border: none;
	border-top: thin solid;
	border-color: var(--light-border-color);
	margin: 2em auto;
}
.fieldsets {
	display: flex;
	gap: 1em;
	justify-content: space-between;
}
.fieldsets > * {
	flex-grow: 1;
}
input[type=text], input[type=password] {
	border: solid;
	border-width: thin;
	border-color: var(--text-color);
	border-radius: .3em;
	background: inherit;
	color: inherit;
	padding: .3em;
}
input[type=text]:focus, input[type=password]:focus {
	border-color: var(--accent-color);
	outline: thin solid var(--text-color);
}
input[type=radio]:focus + label, label:focus {
	outline: medium solid var(--accent-color);
}
input[type=radio] {
	outline: none;
}
fieldset {
	border: thin solid var(--light-border-color);
	border-radius: .15em;
	margin-bottom: 2em;
}
fieldset > legend {
	font-size: .7rem;
}
#realm-picker ul {
	padding: 0;
	list-style: none;
}
#realm-picker ul input[type=radio] {
	margin: .4em 0 0 .8em;
	float: left;
	clear: left;
}
#realm-picker ul label {
	padding-left: 2.3em;
	display: block;
	margin-bottom: .8em;
	border-radius: .2em;
	cursor: pointer;
	white-space: nowrap;
}
#realm-picker small {
	opacity: .7;
	margin-left: .8em;
}
.realms li > img {
	clear: left;
	float: left;
	height: 3em;
	max-width: 5em;
	padding: 0 .3em .1em 0;
}

.buttons {
	list-style: none;
	display: flex;
	gap: .5em;
	padding: 0;
}
.btn, button {
	font-size: 1em;
	border: none;
	padding: 0.2em 2em;
	line-height: 1.7em;
	border-radius: .2em;
	display: inline-block;
	text-decoration: none;
}
.btn:active, .btn:focus, button:active, button:focus {
	box-shadow: inset 0 0 0 .2em var(--accent-color), inset 0 0 0 .3em white;
	outline: 0;
}
.btn.btn-default, button {
	background: var(--accent-color);
	color: var(--button-text-color);
}
.btn.btn-default:active, button:active {
	background: var(--accent-color);
}
.btn.btn-danger, button.btn-danger {
	background: var(--button-danger-bg-color);
	color: var(--button-text-color);
}
.btn.btn-danger:active, button.btn-danger:active {
	background: var(--button-danger-active-bg-color);
}
.btn-txt {
	color: var(--text-color);
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	text-decoration: underline;
	font-size: inherit;
}
.btn.fullwidth {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
}

.oojs-icon{
}
.oojs-icon:before {
	padding: .1em .2em .1em 1.5em;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	content: "";
}

.oojs-icon-userContributions:before {
	background-image: url('oojs-ui/images/icons/userContributions-ltr.svg');
}
.oojs-icon-login:before {
	background-image: url('oojs-ui/images/icons/login-ltr.svg');
}
.oojs-icon-logout:before {
	background-image: url('oojs-ui/images/icons/logout-ltr.svg');
}
.oojs-icon-language:before {
	background-image: url('oojs-ui/images/icons/language.svg');
}
.oojs-icon-userAvatar:before {
	background-image: url('oojs-ui/images/icons/userAvatar.svg');
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000;
		--text-color: #aaa;

		--highlight-bg-color: #1a1c1f;
		--highlight-text-color: #ccc;

		--code-text-color: #e47;

		--accent-color: #a61b70;
		--button-danger-bg-color: #a04;
		--button-danger-active-bg-color: #803;
		--button-text-color: #fff;
		--light-border-color: #353432;
	}

	.oojs-icon:before {
		filter: invert(80%);
		-webkit-filter: invert(80%);
	}

	header details > ul, section.highlight {
		box-shadow: none;
	}
	picture.screenshot.mac img {
		filter: none;
	}

	a {
		color: #46e;
	}
	a:visited {
		color: #96c;
	}
}
