{% extends "menu.html" %}

{% block title %}Apps{% endblock %}

{% block content %}
<main>
	<h1>geteduroam<small>– eduroam authentication made easy</small></h1>
	<p>For most users, the easiest way to use geteduroam is to use one of the official apps.</p>
	<ul class="apps buttons">
{% for id,app in apps %}
		<li><a class="btn btn-default" href="{{ app.url }}">{{ app.name }}</a></li>
{% endfor %}
	</ul>
	<!-- this section isn't pretty, but can be removed once the macOS App is released -->
	<p>For macOS, the current option is to install a .mobileconfig profile.</p>
	<ul class="apps buttons devices">
		<li><a href="{{ mobileconfig.url }}" class="btn btn-default">macOS</a></li>
	</ul>
	<!-- end of to be removed section -->
	<hr>
	<details>
		<summary>Options for other platforms and professional users</summary>
		<p class="apps"><a href="{{ manual.url }}" class="btn btn-default">Generate a certificate for manual use</a></p>
	</details>
</main>
{% endblock %}
