{% extends "menu.html" %}

{% block title %}Info{% endblock %}

{% block content %}
<main>
	<h1>geteduroam<small>– Client certificate authentication made easy</small></h1>
	<p>geteduroam's aim is to make eduroam client setup safer and easier.</p>
	<p>We provide apps for different platforms, desktop and mobile, that can obtain and install eduroam certificates.</p>
	<p>The apps also support <abbr title="Configuration Assistance Tool">CAT</abbr> profiles for users whose institutions do not support geteduroam yet. This means that everyone can use these apps right from the start.</p>

</main>
{% endblock %}
