{% extends 'base.twig' %}

{% block documentClass %}3col{% endblock %}

{% block header %}
<a draggable="false" href="{{ _basePath }}" id="product-name" aria-description="Home">{{ __product_name }}</a>
{% endblock %}
{% block layout %}
{% block content %}
{% endblock %}
{% endblock %}
