{% extends "menu.html" %}

{% block title %}New configuration profile{% endblock %}

{% block content %}
<main>
	<h1>geteduroam<small>– eduroam authentication made easy</small></h1>
	<p>For most users, the easiest way to use geteduroam is to use one of the official apps.</p>
	<ul class="apps buttons">
		<li><a class="btn btn-default" href="{{ app.url }}">Download the apps</a></li>
	</ul>
	<hr>
	<details>
		<summary>Advanced</summary>
		<form method="post">
			<p>
				For advanced users, and for using eduroam on a device where no app is yet available,
				it is also possible to download a configuration profile.
			<div class="fieldsets">
{% include 'realm-picker.html' %}
				<fieldset id="profile-encrypt">
					<legend accesskey="e">Encryption</legend>
				<p>
					Encrypting your profile requires you to enter the passphrase once when installing the profile.<br>
					This may be needed on some systems in order to import the certificate bundle.
				<p>
					<label for="passphrase">Enter a passphrase to be used during installation (optional)</label><br>
					<input id="passphrase" name="passphrase" type="password" size="12">
				</fieldset>
			</div>
			<ul class="apps devices buttons">
{% for formatName, formatData in formats %}
				<li><button type="submit" name="format" value="{{ formatName }}" class="btn btn-default">{{ formatData.name }}</button></li>
{% endfor %}
			</ul>
		</form>
	</details>
</main>
{% endblock %}
