{% extends "dialog.html" %}

{% block title %}Apple mobileconfig{% endblock %}

{% block content %}
<main>
<h1>geteduroam<small>– eduroam authentication made easy</small></h1>
<form method="POST" action="{{ action }}" id="form-download">
<p>Your download will begin shortly<input type="hidden" name="device" value="{{ device }}"></p>
<details>
	<summary>Download not starting?</summary>
	<p><button type="submit" class="btn btn-default" id="btn-download">Start download</button></p>
</form>
</details>
<hr>

{% if passphrase %}
<p>When prompted for a passphrase during installation, enter the following passphrase:</p>
<p id="passphrase-show">{{ passphrase }}</p>
<hr>
{% endif %}

{% if device == 'apple-mobileconfig' %}
<p>After opening the file on MacOS, install it by going to <strong>System Settings</strong> → <strong>Privacy & Security</strong> → <strong>Profiles</strong>.</p>
<p aria-hidden="true">
	<picture class="screenshot mac">
	<source srcset="{{ _basePath }}/assets/mac/sonoma-dark.png" media="(prefers-color-scheme: dark)">
	<img src="{{ _basePath }}/assets/mac/sonoma.png">
</picture>
</p>
{% endif %}

{% if device == 'google-onc' %}
<p>After downloading the file, open the Chrome browser and browse to this URL: <a href="chrome://network">chrome://network</a>. Then, use the <strong>Import ONC file</strong> button. The import is silent; the new network definitions will be added to the preferred networks.</p>
{% endif %}

</main>

{# We use a CSP with script-src: none, so this won't work:
<script>
	document.getElementById('form-download').submit();
	document.getElementById('btn-download').remove();
</script>
#}
{% endblock %}
