{% extends "base.html" %}

{% block title %}Login mismatch{% endblock %}

{% block content %}
<main>
	<p>
		Your account is not valid for <strong>{{ realmName }}</strong>
{% if guessRealmName %}
, but it might be valid for <strong>{{ guessRealmName }}</strong>.
{% else %}
.
{% endif %}
		You can log in with a different account, or pick a different institution.
	</p>
{% if guessRealmName %}
	<p>
		<a href="{{ switchRealmLink }}" class="btn btn-default fullwidth">
			Try logging in with <strong>{{ guessRealmName }}</strong>
			as <strong>{{ guessUserId }}</strong>
			instead
		</a>
	</p>
{% endif %}
	<p>
		<a href="{{ switchUserLink }}" class="btn btn-default fullwidth">
			Try a different account with access to <strong>{{ realmName }}</strong>
		</a>
	</p>
	<p>
		<a href="{{ refuseRequestLink }}" class="btn btn-default fullwidth">
			Go back and try a different institution
		</a>
	</p>
</main>
{% endblock %}
